body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.navbar-left {
    background-color: #333; /* Match the color with the header */
    color: #fff;
    height: calc(100vh - 120px); /* Adjust the height to be equal to 100% - header height */
    position: fixed;
    top: 95px; /* Position the navbar below the header */
    left: 0;
    padding: 20px;
    width: 200px;
}

.navbar-left a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}

.navbar-left a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.container {
    margin-left: 220px; /* To push the content away from the left navbar */
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.feature {
    display: none; /* Hide all features by default */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.feature.active {
    display: block; /* Show the active feature */
}

.feature h2 {
    margin-top: 0;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.feature p {
    margin: 0;
}

.feature button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.feature button:hover {
    background-color: #444;
}

/*show all post css*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f2f2f2;
}

.check-column {
    width: 60px;
}

.check-column input {
    margin: 0;
    padding: 0;
}

/* Additional CSS for the table and feature */
.feature {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px; /* Increased padding */
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 900px; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
    font-size: 16px; /* Increased font size */
    transition: height 0.3s ease; /* Add smooth transition for height changes */
}

.feature table {
    width: 100%;
    border-collapse: collapse;
}

.feature th, .feature td {
    padding: 15px; /* Increased padding */
    border-bottom: 1px solid #ddd;
}

.feature th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.feature tr:hover {
    background-color: #f9f9f9;
}

.feature input[type="checkbox"] {
    margin: 0;
}

.feature .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.feature .btn:hover {
    background-color: #444;
}



/* Update Information Interviewer */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}
/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}